body {
  font-family: arial, sans-serif;
  background-color: #fcb8b8;
}
.wather-app-wrapper {
  width: 600px;
  margin: 30px auto;
}
.wather-app {
  padding: 20px;
  border: 2px solid #ff9ab0;
  border-radius: 15px;
  background: white;
  box-shadow: 0 5px 3px 2px #698474;
}
